/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* --- Import Components stylesheets --- */
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/list.css");

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0 auto;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

h2 {
  text-align: center;
  margin: 10px auto
}

a {
  text-decoration: none;
}

/* Custom design below!
.container {
  width: 700px;
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 450px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 300px;
  }
} */
